*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#nav{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
}
#nav>article{
    height: 80px;
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
#nav>article>.logo
{
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 22px;
}
#nav>article>.logo>svg
{
    width: 22.3%;
    fill:#FFFFFF;
    
}
#nav>article>.menu
{
    width: 43.3%;
    height: 80px;
}
#nav>article>.menu>ol
{   width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
   
}

#nav>article>.menu>ol>li>.nor{
    color:#f9f9f9;
    text-decoration: none;
     font-weight: bold; 
    font-family: myfont;
    font-size: 15px;
    letter-spacing: 1px;
    
}
#nav>article>.menu>ol>li>.nor:hover{
    color: rgb(30,215,96);
}
#nav>article>.menu>ol>li>.lig{
    color:rgb(210, 211, 214);
    text-decoration: none;
    font-weight: bold; 
    font-family:myfont;
    font-size: 15px;
    letter-spacing: 1px;
    
}
#nav>article>.menu>ol>li>.lig:hover{
    color: rgb(30,215,96);
}

@font-face {
    font-family: myfont;
    src: url(./assets/text/CircularSpotifyText-Book.otf);
}

#home{
    width: 100%;
    height: 83.6vh;
    background: url(./assets/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    display: flex;
    justify-content: center;
    align-items: end;
}

#home>article
{
    width: 66.5%;
    height: 71vh;
    display: flex;
    /* background-color: tan;  */
}
#home>article>.mobile{
    height: 100%;
    width: 37.5%;
    /* background-color: aqua; */
    margin-left: .5%;
}
#home>article>.content{
    height: 100%;
    width: 64%;
    /* background-color: blue; */
}
#home>article>.content>.text1{
    color: white;
    font-family: myfont1;
    font-size: 62px;
    font-weight:900;
    padding-top: 13.2vh;
    letter-spacing: -1.5px;
    line-height: 74px;
    padding-left: 6px;
}
@font-face {
    font-family: myfont1;
    src: url(./assets/text/CircularSpotifyText-Black.otf);
}
#home>article>.content>.btn1{
    padding-top: 25px;
    padding-left: 4.7px;
}
#home>article>.content>.btn1>button{
    height: 48px;
    font-family: myfont;
    font-size:14px;
    background-color: white;
    font-weight: 600;
    width: 188px;
    border-radius: 30px;
    border: 0;
}
#home>article>.content>.btn1>button:hover{
    scale:105%;
}

#home>article>.mobile>.mobborder{
    height: 100%;
    width:281px;
    background-color: white;
    border-radius: 35px 35px 0px 0px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#home>article>.mobile>.mobborder>.island{
    height:65.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#home>article>.mobile>.mobborder>.island>.dynamic{
    background-color: black;
height:5.8px;
width: 44.9px;
border-radius: 30px;

}
#home>article>.mobile>.mobborder>.picimg{

    height: 100%;
    width :100%;
    display: flex;
    justify-content: center;
}
#home>article>.mobile>.mobborder>.picimg>img{
    height: 98%;
    width: 94.5%;
}
#why{
    height: 83vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#why>article{
    /* background-color: aqua;  */
    height:61.5vh ;
    width: 72%;
}
#why>article>.whytext
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#why>article>.whytext>.text{
    font-family: myfont1;
    font-size: 40.05px;
    font-weight: 400;
    letter-spacing: -0.7px;
}
#why>article>.play
{
    height: 81%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

#why>article>.play>.con{
    /* background-color: aquamarine; */
    width: 91.2%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

#why>article>.play>.con>.imgcon{
    /* background-color: yellowgreen; */
    height: 142px;
    width:142.5px;
    display: flex;
    flex-direction: column;

}
#why>article>.play>.con>.imgcon>.img1{
    height: 142px;
    width:142.5px;
}
#why>article>.play>.textcon{
    height: 20.57%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    
}
#why>article>.play>.textcon>.text{
    height: 90%;
    width: 242px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

}
#why>article>.play>.textcon>.text>.txt1{
    font-family: myfont1;
    font-size: larger;
    letter-spacing: .7px;
    

}
#why>article>.play>.textcon>.text11{
    height: 90%;
    width: 242px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
#why>article>.play>.textcon>.text11>.txt2{
    padding-top: 4px;
    font-family: myfont;
    font-size: medium;
    text-align: center;
    line-height: 24px;
    
}
#free{
    width: 100%;
    height: 69.8vh;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    display: flex;
    justify-content: center;
    align-items: center;
}
#free>.font1{
    font-family: myfont1;
    color: white;
    font-size: 49px;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 58.5px;

}

#got{
    height: 81.5vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#got>article{
    height: 87%;
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;

}
#got>article>.ques{
    height: 50px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}
#got>article>.ques>h1{
    font-family: myfont1;
    font-size: 40.09px;
    font-weight: 400;
    letter-spacing: -0.7px;
}
#got>article>.gotcon{
    height: 63.9%;
    width: 94%;
    background-color:rgb(246,246,246);
    position: relative;
    top:68px;
    left: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#got>article>.gotcon>.texty{
    height: 80.7px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
#got>article>.gotcon>.texty>h1{
    font-family: myfont1;
    position: relative;
    left: 26px;
    font-size: 18px;

}
#got>article>.gotcon>.texty>h1:hover{
    text-decoration: underline;
}
#got>article>.gotcon>.texty>i{
    position: absolute;
    left: 1090px;
    font-size: 25px;

}
#got>article>.gotcon>.texty:hover{
    background-color:rgb(246,246,246);

}
#ready{
    height: 63vh;
    width: 100%;
    background: url(./assets/text/lets-play.svg) -10px -480px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) 18%, rgba(240, 55, 166, 0.762)) rgb(108, 14, 224);
}
#ready>article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ready>article>.ready1>h1{
    font-family: myfont1;
    font-size: 80px;
    color: white;
    letter-spacing: -1.5px;
}
#ready>article>.btn2{
    height: 48px;
    font-family: myfont;
    font-size:14px;
    background-color: white;
    font-weight: 600;
    width: 188px;
    border-radius: 30px;
    border: 0;
    position: relative;
    top: 7.3px;

}
#ready>article>.btn2:hover{
    scale:105%;
}
footer{
    width: 100%;
    height: 77.3vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:end ;
}
footer>article{
    /* background-color: #FFFFFF; */
    width: 75%;
    height: 86%;
    overflow: hidden;

}
footer>article>.top{
    /* background-color: aqua; */
    width: 100%;
    height: 76%;
    display: flex;
}
footer>article>.top>.aa{
    /* background-color: rgb(255, 0, 0); */
    width: 17%;
    height: 100%;
}
footer>article>.top>.aa>svg{
    fill: white;
    width: 68.2%;
    position: relative;
    top: 3px;
    cursor: pointer;
}
footer>article>.top>.ab{
    /* background-color: rgb(255, 230, 0); */
    width: 53%;
    height: 100%;
    display: flex;
}
footer>article>.top>.ab>.head1{
    /* background-color: rgb(0, 255, 162); */
    width: 18.6%;
    height: 39.5%;
    position: relative;
    left: 2.3px;
    top:25.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
footer>article>.top>.ab>.head1>.cont{
    font-family: myfont1;
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    

}
footer>article>.top>.ab>.head1>h1
{
    color: white;
    font-family: myfont;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
footer>article>.top>.ab>.head1>h1:hover{
    color: #1ed760;
}
footer>article>.top>.ab>.head2{
    /* background-color: rgb(0, 255, 162); */
    width: 18.6%;
    height: 61.5%;
    position: relative;
    left: 14%;
    top:25.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
footer>article>.top>.ab>.head2>.cont{
    font-family: myfont1;
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    

}
footer>article>.top>.ab>.head2>h1
{
    color: white;
    font-family: myfont;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
footer>article>.top>.ab>.head2>h1:hover{
    color: #1ed760;
}
footer>article>.top>.ab>.head3{
    /* background-color: rgb(0, 255, 162); */
    width: 20%;
    height: 39.5%;
    position: relative;
    left: 27.5%;
    top:25.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
footer>article>.top>.ab>.head3>.cont{
    font-family: myfont1;
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    

}
footer>article>.top>.ab>.head3>h1
{
    color: white;
    font-family: myfont;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
footer>article>.top>.ab>.head3>h1:hover{
    color: #1ed760;
}
footer>article>.top>.ac{
    /* background-color: rgb(13, 255, 0); */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
footer>article>.top>.ac>.social{
    width:56.5%;
    height:60px ;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    position: relative;
    top:21px;

}
footer>article>.top>.ac>.social>.cir{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
footer>article>.top>.ac>.social>.cir>i{
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;

}
footer>article>.top>.ac>.social>.cir>i:hover{
    color: #1ed760;

}
footer>article>.bottom{
    /* background-color: rgb(102, 255, 0); */
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: space-between;
}
footer>article>.bottom>.privacy
{
    /* background-color: rgb(0, 255, 217); */
    width: 41.5%;
    height: 20%;
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-between;
}
footer>article>.bottom>.privacy>p{
    font-family: myfont2;
    color: #919496;
    font-size: 12px;
    letter-spacing: .2px;
    cursor: pointer;

}
footer>article>.bottom>.privacy>p:hover{
    color: #1ed760;

}
footer>article>.bottom>.copy
{
    /* background-color: rgb(255, 187, 0); */
    width: 9%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
footer>article>.bottom>.copy>p{
    font-family: myfont2;
    color: #919496;
    font-size: 11.8px;
    letter-spacing: .2px;

}
footer>article>.bottom>.copy>p:hover{
    color: #1ed760;
    

}
@font-face {
    font-family: myfont2;
    src: url(./assets/text/CircularSpotifyText-Light.otf);
}
